@model APOD.Controllers.APODAndCommentViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.APOD.Title)</h1>
<h5 class="mb-3">@Html.DisplayFor(model => model.APOD.Date)</h5>
<hr />
<h5 class="mb-3">@Html.DisplayFor(model => model.APOD.Explanation)</h5>
<img class="mb-3" src="@Html.DisplayFor(model => model.APOD.Url)" />


<form asp-action="Details" asp-route-id="@Model.APOD.Id">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<div class="card">
		<div class="card-body container">
			<div class="row mb-3">
				<div class="col-1">
					<input asp-for="New_Comment.Author" class="form-control" placeholder="작성자" />
					<span asp-validation-for="New_Comment.Author" class="text-danger"></span>
				</div>
				<div class="col-1">
					<input asp-for="New_Comment.Password" class="form-control" placeholder="비밀번호" />
					<span asp-validation-for="New_Comment.Password" class="text-danger"></span>
				</div>

			</div>
			<div class="mb-3">
				<textarea asp-for="New_Comment.Contents" class="form-control" placeholder="댓글 입력.." rows="3"></textarea>
			</div>
			<div class="mb-3">
				<span asp-validation-for="New_Comment.Contents" class="text-danger"></span>
			</div>
			<input type="submit" value="댓글 등록" class="btn btn-primary" />

		</div>
	</div>
</form>

<div class="container">
	@if (Model.Comment != null)
	{
		foreach (var comment in Model.Comment)
		{
			<div class="row">
				<div class="col-1">
					<span class="align-baseline">@comment.Author</span>
				</div>
				<div class="col-8">
					<span class="align-baseline">@comment.Contents</span>
				</div>
				<div class="col-3">
					<span class="align-baseline">@comment.Date</span>

					<form asp-action="Delete_Comment" asp-route-id="@comment.Id" asp-route-postid="@Model.APOD.Id">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="dropdown">
							<a class="btn btn-outline-danger btn-sm" data-bs-toggle="dropdown">Delete</a>

							<ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuLink">
								<li>
									<input class="form-control" name="password" placeholder="비밀번호 입력" />
									<input type="submit" value="댓글 삭제" class="btn btn-primary" />
								</li>
							</ul>

						</div>
					</form>

				</div>
			</div>
			<hr />
		}
	}
</div>

@Html.Raw(TempData["msg"])