@model IEnumerable<APOD.Models.APODModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hdurl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explanation)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Hdurl)" 
                    style="max-width: 400px; height: auto;" alt="image" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="APOD" asp-action="Index" method="get">
    <button type="submit" name="page" value="@ViewData["page"]">@ViewData["page"]</button>
    <button type="submit" name="page" value="@((int)ViewData["page"]+1)">@((int)ViewData["page"]+1)</button>
    <button type="submit" name="page" value="@((int)ViewData["page"]+2)">@((int)ViewData["page"] + 2)</button>
</form>